@page "/"
@using QRCoder
@using SixLabors.ImageSharp
@inject NavigationManager NavManager

<PageTitle>Home</PageTitle>

<h1>Leave some feedback!</h1>
<img src="@QrCodeImageUrl" />

@code {
    public string? QrCodeImageUrl { get; set; }

    protected override void OnInitialized()
    {
        //Make sure only a single slash is at the end
        //  Some browsers don't like that
        var baseUri = NavManager.BaseUri;
        if (baseUri.EndsWith('/'))
        {
            baseUri = baseUri.Substring(0, baseUri.Length - 1);
        }

        var payload = $"{baseUri}/comments";
        var qrGenerator = new QRCodeGenerator();
        var qrCodeData = qrGenerator.CreateQrCode(payload, QRCodeGenerator.ECCLevel.Q);
        var graphic = new Base64QRCode(qrCodeData);
        var base64EncodedImage = graphic.GetGraphic(pixelsPerModule: 20, darkColor: Color.Black, lightColor: Color.Transparent, drawQuietZones: false, imgType: Base64QRCode.ImageType.Png);

        QrCodeImageUrl = string.Format("data:image/png;base64,{0}", base64EncodedImage);

        base.OnInitialized();
    }
}